header{
    background: CYAN;
    color: white;
    border-bottom: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 0;

}

nav ul li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;

}

nav ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul a:hover{
    background: red;
}

nav ul a:active{
    background: green;
}

.cabecalho{
    padding-top: 35px;
}

.logo{
    float: left;
}



.sessao1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: justify
}



.sessao1 .paragrafo1 .imagem1{
    float: left;
}


.sessao1 .paragrafo2 .imagem2{
    float: center;
}


.sessao2 ol{   
    list-style-type: none;
    background: grey;
    color: black;
    border-radius: 1px 5px;
    display: inline-block;

}

.sessao2 ol :hover{
    background: green;
    color: red;
}

.sessao2 ul{
    list-style-type: none;
    background: blue;
    color: white;
    border-radius: 1px 5px;
    display: inline-block;
}

.sessao2 ul :hover{
    background: red;
    color: green;
}

.sessao3{
    font-weight: bold; 
}    

label{
    display: inline-block;
    width: 120px;
    text-align: left;
}

input:hover{
    background: rgb(164, 202, 164);
}

.sessao4{
    border: black;
}

.sessao4 th{
    background: black;
    color: white;
}

.sessao4 td{
    background: grey;
    color: black;
    font-weight: bold;
}
.sessao4 table{
    border: 1px;
    width: 500px;
    margin: auto;
}

footer{
    background: grey;
    color: white;
    font-weight: bold; 
    font-style: italic;
    text-decoration: underline;
}